@mixin miscelanea($tema) {
    .barraDeProgreso{
        border: 1px solid map.get($tema,"colorPrimario");
        border-radius: 5px;
        display: block;
        width: 60%;
        margin: 2em 0 1em 0;

        div.barra{
            display: block;
            height: 1em;
            width: 10%;
            border-radius: 5px;
            background-color: map.get($tema,"colorCuaternario");

        }
    }
    footer{
        display: block;
        position: absolute;
        bottom: 0;
        width: 100%;
        background-color: map.get($tema,"colorPrimario");
        text-align: center;
        padding: 1.5vh 0;
        span{
            color: map.get($tema,"colorLetraBlanco");
        }
    }
}
