.modaltask {
    display: none; 
    position: fixed; 
    z-index: 1; 
    padding-top: 10vh; 
    left: 0;
    top: 0;
    width: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
}
  
.modal-content {
    text-align: justify;
    border-radius: 2vh;
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    width: 60%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    .contenedor-close{
        border-radius: 2vh 2vh 0 0;
        width: 100%;
        background-color: black;
        padding-left: 3vw;
        margin-bottom: 3vh;
        .close {
            color: white;
            font-size: 28px;
            font-weight: bold;
        }
        .close:hover, .close:focus {
            cursor: pointer;
        }
    }
    .modal{
        .name-tarea{
            width: 60%;
            background: transparent;
            border: none;
            border-bottom: 1px solid #000000;
        }
        padding: 0 0 0 4vh;
        .list{
            list-style: none;
            .list-item{
                display: block;
                width: 100%;
                font-weight: var(--enlacesdestacado);
                img{
                    vertical-align: middle;
                }
                .list-link{
                    text-decoration: none;
                    color: black;
                }
                .sub-list{
                    display: none;
                    margin: auto 2vw;
                    label{
                        font-weight: var(--sublista);
                        font-size: var(--tampequenio);
                        input, select{
                            margin-left: 1vw;
                            margin-bottom: 0;
                        }
                        .text{
                            width: 50%;
                            background: transparent;
                            border: none;
                            border-bottom: 1px solid #000000;
                            margin-bottom: 0;
                        }
                        button{
                            text-align: center;
                        }
                    }
                    .list-colab{
                        margin: auto 2vw;
                        label{
                            font-weight: var(--sublista);
                            font-size: var(--tampequenio);
                            img{
                                width: 3vh;
                                background-color: black;
                            }
                        }
                    }
                }
                
            }
        }
    }
}
