@mixin tarea($tema) {
    .tarjetas{
        background-color: map.get($tema,"colorSecundario");
        border-radius: 10px;
        margin-top: 1em;
        padding-bottom: 2vh;
        .img-tarea{
            width: 100%;
            margin: 0 0 2vh 0;
            border-radius: 10px 10px 0 0;
        }
        .info{
            padding: 0 2em 0 2em;
            .tag{
                float: left;
                margin: 0;
                font-size: 7pt;
                border-radius: 1em;
                color: map.get($tema,"colorLetraBlanco");
                padding-right: 2em;
                padding-left: 2em;
            }
            .borrar-modificar{
                float: right;
                img{
                    background-color: map.get($tema,"colorTerciario");
                    border-radius: 2vh;
                    padding: 1vh;
                    margin: 0 0 0 2vh;
                    width: 2vh;
                }  
            }
            label{
                font-size: 12pt;
                border-bottom: 1px solid map.get($tema,"colorPrimario");
                width: 100%;
                clear: both;
                margin-bottom: 1vh;
            }
            .num-check{
                float: left;
                button{
                    color: map.get($tema,"colorLetraBlanco");
                    width: 8vh;
                    background-color: map.get($tema,"colorTerciario");
                    border-radius: 4vh;
                    padding: 0;
                    margin: 0 2vh 0 0;
                }
            }
        }
    }  
} 