@use "sass:map";
@import 'normalize', 'skeleton', 'miscelanea', 'modal', 'tarea', 'panel', 'cabecera', 'menus';

/* :root{
    --titulos:600;
    --titulillo:; 
    --enlaces: 300;
    --enlacesdestacado:500;
    --tampequenio:10pt;
    --sublista:400;
} */

$temaOscuro:(
    "colorPrimario": #020202,
    "colorSecundario": #fdfdfd,
    "colorTerciario": #141414,
    "colorCuaternario": #b9e6e5,
    "fondoContenidoAcordeon": #ffffff,
    "sombra":rgba(0, 0, 0, 0.6),
    "titulos:": 18pt,
    "enlaces": 9pt,
    "pesoSemibold":600,
    "pesoMedium":500,
    "pesoRegular":400,
    "pesoLight":300,
    "panel":18pt,
    "modalLista":12pt,
    "tareas":12pt,
    "boton:":10pt,
    "caractModal":10pt,
    "subtarea":9pt,
    "tag":7pt,
    "colorLetraNegro": black,
    "colorLetraBlanco": white,
);

body.temacolor.oscuro {

    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    background-color: map.get($temaOscuro,"colorCuaternario");

    @include menus($temaOscuro);
    @include panel($temaOscuro);
    @include cabecera($temaOscuro);
    @include miscelanea($temaOscuro);
    @include modal($temaOscuro);
    @include tarea($temaOscuro); 
}


$temaClaro:(
    "colorPrimario": #bca698,
    "colorSecundario": #f8f8f8,
    "colorTerciario": #d4cbc1,
    "colorCuaternario": #f2f2f2,
    "fondoContenidoAcordeon": #ffffff,
    "sombra":rgba(79, 57, 57, 0.6),
    "titulos:": 18pt,
    "enlaces": 9pt,
    "pesoSemibold":600,
    "pesoMedium":500,
    "pesoRegular":400,
    "pesoLight":300,
    "panel":18pt,
    "modalLista":12pt,
    "tareas":12pt,
    "boton:":10pt,
    "caractModal":10pt,
    "subtarea":9pt,
    "tag":7pt,
    "colorLetraNegro": black,
    "colorLetraBlanco": white,
);


body.temacolor.claro {

    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    background-color: map.get($temaClaro,"colorCuaternario");

    @include menus($temaClaro);
    @include panel($temaClaro);
    @include cabecera($temaClaro);
    @include miscelanea($temaClaro);
    @include modal($temaClaro);
    @include tarea($temaClaro); 

    .navegador{
        ul{
            li{
                width: 8vh;
                border-radius: 2.5vh 2.5vh 2.5vh 2.5vh;
            }
        }
    }
}

@media (min-width: 550px) {

    .aparecepequenio{
        display: none;
    }
    
}

@media (max-width: 550px) {
    .desaparecepequenio {
        display: none;
    }
}

